body{
    font-family: "open sans", sans-seris;
} 
.navbar{
    padding: 0;
}   
.navbar ul{
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;
    align-items: center;
}
.navbar a i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background:#fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown:hover > ul{
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown ul li{
    min-width: 200px;
}
.navbar .action{
    color: #2487ce;
}
.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #16507b;
    white-space: nowrap;
    transition: 0.3s;
}
.navbar .navbar-mobile{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(10, 38, 58, 0.9);
    transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle{
    position: absolute;
    top: 15px;
    right: 15px;
}
.mobile-nav-toggle{
    color: #124265;
    font-size: 28px;
    cursor: pointer;
    display: block;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle .bi-x{
    color: #fff;
}
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
}
.section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
}
#header{
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #e6f2fb;
    z-index: 997;
}
#header .logo{
    font-size: 28px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: "poppings", sans-serif;
}
#header .logo a{
    color: #16507b;
}
#hero{
    padding: 80px 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    background: url('../images/hero-bg.jpg') top center;
    background-size: cover;
    position: relative;
} 
#hero .container{
    padding-top: 80px;
}
#hero h1{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #124265;
    font-family: "Poppins", sans-serif;
}
#hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 18px;
    line-height: 24px;
}
#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
}
#hero .icon-boxes{
    margin-top: 100px;
}
#hero .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgb(18 66 101 / 8%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}
#hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
}
#hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
#hero .icon-box .title a {
    color: #124265;
    transition: 0.3s;
}
#hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
#about{
    padding: 80px 0;
    overflow: hidden;
}
#about .content ul{
    list-style: none;
    padding: 0;
}
#about .content ul li{
    padding-left: 28px;
    position: relative;
}
#about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #2487ce;
    line-height: 1;
}
#about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #2487ce;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #2487ce;
}
#counts{
    background-color: #f8fbfe;
    padding: 60px 0;
    overflow: hidden;
}
#counts .count-box{
    width: 100%;
    text-align: center;
}
#counts .count-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: #124265;
    margin-left: 80px;
    margin: auto;
}
#counts .count-box p {
    padding: 8px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1e6ca6;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    #hero{
        height: auto;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .navbar ul{
        display: flex;
    }
    .mobile-nav-toggle{
        display: none;
    }
    #hero h1{
        font-size: 56px;
        line-height: 72px;
    }
    #hero h2{
        font-size: 22px;
    }
    .text-center{
        width: 100%;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1160px;
    }
   #hero {
       background-attachment: fixed;
    }
}  
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}  
